<!-- FAQ Section -->
<div class="container">
  <div class="FAQ">
    <div class="row">
      <div class="col-md-12 ">
        <h2 class="mb-4">FAQ</h2>
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              What are some tips for good images?
            </h5>
          </div>
          <div class="card-body">
            <p class="mb-0">Make sure to include their full name when generating
              for best results! EX: Sonic -> 'Sonic the hedgehog', Tails -> 'Tails the fox'.
            <p></p>
            The model was trained on booru tags, using them allows your images to turn out better and be more
            specific. If you
            would like to turn an existing image into booru tags to input into the model,
            use the following website: <a
              href="https://huggingface.co/spaces/Metal079/wd-v1-4-tags">https://huggingface.co/spaces/Metal079/wd-v1-4-tags</a>
            and copy the output into the prompt.

            <p></p> Placing parenthesis (around) one or ((several tags)) will give that tag more empahsis and increase the likehood that it is included in the prompt. The more (((parenthesis))) the more emphasis.
            Note: Too much will have a negative effect. Ex: "Amy Rose ((wearing a pokadot dress))"
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header">
            <h5 class="mb-0">
              What characters can I generate?
            </h5>
          </div>
          <div class="card-body">
            <p class="mb-0">Curent list is as follows. (Clicking on a name will add it to the prompt or if a name is already in the prompt, it will replace it!)
              <p></p>
            <div class="row">
              <div class="col col-md-4">
                <ul>
                  <li (click)="changePrompt('Amy Rose')">Amy Rose</li>
                  <li (click)="changePrompt('Barry the quokka')">Barry the quokka</li>
                  <li (click)="changePrompt('Big the cat')">Big the cat</li>
                  <li (click)="changePrompt('Blaze the cat')">Blaze the cat</li>
                  <li (click)="changePrompt('Bunnie Rabbot')">Bunnie Rabbot</li>
                  <li (click)="changePrompt('Charmy the bee')">Charmy the bee</li>
                  <li (click)="changePrompt('Charmy the bee')">Charmy the bee</li>
                  <li (click)="changePrompt('Cosmo the seedrian')">Cosmo the seedrian</li>
                  <li (click)="changePrompt('Cream the rabbit')">Cream the rabbit</li>
                  <li (click)="changePrompt('Eggman')">Eggman</li>
                  <li (click)="changePrompt('Espio the chameleon')">Espio the chameleon</li>
                  <li (click)="changePrompt('Fiona Fox')">Fiona Fox</li>
                  <li (click)="changePrompt('Honey the cat')">Honey the cat</li>
                  <li (click)="changePrompt('Hershey the cat')">Hershey the cat</li>
                  <li (click)="changePrompt('Infinite the jackal')">Infinite the jackal</li>
                  <li (click)="changePrompt('Jet the hawk')">Jet the hawk</li>
                  <li (click)="changePrompt('Jewel the beetle')">Jewel the beetle</li>
                  <li (click)="changePrompt('Julie-Su the echidna')">Julie-Su the echidna</li>
                  <li (click)="changePrompt('Knuckles the echidna')">Knuckles the echidna</li>
                </ul>
              </div>
              <div class="col col-md-4">
                <ul>
                  <li (click)="changePrompt('Lanolin the sheep')">Lanolin the sheep</li>
                  <li (click)="changePrompt('Lien-Da the echidna')">Lien-Da the echidna</li>
                  <li (click)="changePrompt('Lupe the wolf')">Lupe the wolf</li>
                  <li (click)="changePrompt('Marine the Raccoon')">Marine the Raccoon</li>
                  <li (click)="changePrompt('Metal Sonic')">Metal Sonic</li>
                  <li (click)="changePrompt('Metamorphia')">Metamorphia</li>
                  <li (click)="changePrompt('Mighty the armadillo')">Mighty the armadillo</li>
                  <li (click)="changePrompt('Mina Mongoose')">Mina Mongoose</li>
                  <li (click)="changePrompt('Mobian')">Mobian (Original characters in sonic style basically!)</li>
                  <li (click)="changePrompt('Neo Metal Sonic')">Neo Metal Sonic</li>
                  <li (click)="changePrompt('Nicole the Lynx')">Nicole the Lynx</li>
                  <li (click)="changePrompt('Rouge the bat')">Rouge the bat</li>
                  <li (click)="changePrompt('Ray the flying squirrel')">Ray the flying squirrel</li>
                  <li (click)="changePrompt('Rosy the rascal')">Rosy the rascal</li>
                  <li (click)="changePrompt('Sage')">Sage</li>
                  <li (click)="changePrompt('Sally Acorn')">Sally Acorn</li>
                  <li (click)="changePrompt('Scourge the hedgehog')">Scourge the hedgehog</li>
                  <li (click)="changePrompt('Shadow the hedgehog')">Shadow the hedgehog</li>
                  <li (click)="changePrompt('Silver the hedgehog')">Silver the hedgehog</li>
                </ul>
              </div>
              <div class="col col-md-4">
                <ul>
                  <li (click)="changePrompt('Shade the echidna')">Shade the echidna</li>
                  <li (click)="changePrompt('Sonia the hedgehog')">Sonia the hedgehog</li>
                  <li (click)="changePrompt('Sonic the hedgehog')">Sonic the hedgehog</li>
                  <li (click)="changePrompt('Starline the platypus')">Starline the platypus</li>
                  <li (click)="changePrompt('Sticks the badger')">Sticks the badger</li>
                  <li (click)="changePrompt('Storm the albatross')">Storm the albatross</li>
                  <li (click)="changePrompt('Surge the tenrec')">Surge the tenrec</li>
                  <li (click)="changePrompt('Tails the fox')">Tails the fox</li>
                  <li (click)="changePrompt('Tekno the canary')">Tekno the canary</li>
                  <li (click)="changePrompt('Tangle the lemur')">Tangle the lemur</li>
                  <li (click)="changePrompt('Tikal the echidna')">Tikal the echidna</li>
                  <li (click)="changePrompt('Vanilla the rabbit')">Vanilla the rabbit</li>
                  <li (click)="changePrompt('Vector the crocodile')">Vector the crocodile</li>
                  <li (click)="changePrompt('Wave the swallow')">Wave the swallow</li>
                  <li (click)="changePrompt('Whisper the wolf')">Whisper the wolf</li>
                  <li (click)="changePrompt('Zoey the fox')">Zoey the fox</li>
                  <li (click)="changePrompt('Zeta the echidna')">Zeta the echidna</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header">
            <h5 class="mb-0">
              Can I run this locally on my PC?
            </h5>
          </div>
          <div class="card-body">
            <p class="mb-0">Yep! Model is available to use in stable diffusion here <a
                href="https://civitai.com/models/1493">https://civitai.com/models/1493</a></p>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header">
            <h5 class="mb-0">
              About
            </h5>
          </div>
          <div class="card-body">
            <p class="mb-0">Hi there! I'm a big fan of AI and Sonic, so I thought why not combine the two? As someone
              who never
              had the mind to express themselves artistically, AI art has opened up a whole new world for me and I'd
              like to be able to share that openly for every sonic fan to express themselves!

            <p>
            <p></p>
            <p class="mb-0">
              I'm hoping to be able to keep this site up as long as I'm financially able to, but as the site grows
              more popular it will be hard to keep up with GPU demand and server cost,
              so any support is greatly appreciated!
            </p>


            <p></p>Want to support the website as well as future model development? <a
              href="https://ko-fi.com/mobians">https://ko-fi.com/mobians</a>

            <p></p>Join the discord for model updates, share images, and chat! Special thanks to "RinMaru" "Kitsune
            Sage", for helping gather training images!
            "Mecha from the '80s" and "Kitsune Sage" for helping with the model testing and sorting of images. And
            "MiningP" for donating his GPU to help speed up the generation of images on the website!
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header">
            <h5 class="mb-0">
              AI Disclaimer
            </h5>
          </div>
          <div class="card-body">
            <p class="mb-0">Remember who made the images! AI art is an amazing tool that lets everyone create art, but
              it's important to remember that using the AI does not make one an artist.
              Please be respectful of the artists who made the images that made the AI you use possible, and do not
              claim any of the images you create as your own.
              That doesnt mean you shouldnt be able to use the AI for ideas and inspiration for your own art though! AI
              is a tool for everyone to use and enjoy!
            </p>
            <p></p>>
            <iframe src="https://discord.com/widget?id=1095514548112461924&theme=dark" width="350" height="500"
              allowtransparency="true" frameborder="0"
              sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
          </div>
        </div>
        <!-- Add more questions and answers as needed -->
      </div>
    </div>
  </div>
</div>