.card {
  background-color: var(--theme-surface-bg);
  border: 0;
}

.card-body {
  background-color: var(--theme-surface-alt-bg);
}

@media (max-width: 480px) {
  .FAQ {
    padding: 0vw;
    width: 95vw;
  }

  .row {
    width: 100vw;
  }

  .card-body {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }

  .mb-0 {
    padding-left: 2vw;
    padding-right: 2vw;
  }

}

button img {
  height: 50px;
  width: auto;
  margin-right: 10px;
  border: 0;
  padding: 0;
}

button {
  background-color: var(--theme-surface-alt-bg);
  border: 0;
  padding: 0;
}

li:hover {
  background: #fff5;
  border-radius: .375rem;
  padding-inline: .375rem;
  cursor: pointer;
}
