<div id="generation-space" style="display: flex">
  <app-image-grid
    [images]="images"
    [showInstructions]="showInstructions"
    [showLoading]="showLoading"
    [aspectRatio]="aspectRatio"
    (referenceImageChange)="onReferenceImageChange($event)"
  ></app-image-grid>
  <app-options
    (imagesChange)="onImagesChange($event)"
    (loadingChange)="onShowLoadingChange($event)"
    (aspectRatioChange)="onAspectRatioChange($event)"
    [referenceImage]="referenceImage"
  ></app-options>
</div>
<app-faq></app-faq>
