<div id="generation-space">
  <app-image-grid
    [images]="images"
    [showLoading]="showLoading"
    [aspectRatio]="aspectRatio"
    (referenceImageChange)="onReferenceImageChange($event)"
    [inpaintingEnabled]="inpaintingEnabled"
    [queuePosition]="queuePosition"
    (inpaint_mask)="onInpaintMaskChange($event)"
  ></app-image-grid>
  <app-options
    (imagesChange)="onImagesChange($event)"
    (loadingChange)="onShowLoadingChange($event)"
    (aspectRatioChange)="onAspectRatioChange($event)"
    [referenceImage]="referenceImage"
    (inpaintingChange)="onInpaintingChange($event)"
    (queuePositionChange)="onQueuePositionChange($event)"
    [inpaintMask]="inpaintMask"
  ></app-options>
</div>
<app-faq></app-faq>
