<div id="generation-space">
  <div id="image-rating-section">
    <app-image-grid
      [showLoading]="showLoading"
      [aspectRatio]="aspectRatio"
      [inpaintingEnabled]="inpaintingEnabled"
      [queuePosition]="queuePosition"
      (inpaint_mask)="onInpaintMaskChange($event)"
      (imageExpandedChange)="onImageExpandedChange($event)"
    ></app-image-grid>
    <app-user-rating *ngIf="!showLoading"></app-user-rating>
  </div>
  <app-options
    (imagesChange)="onImagesChange($event)"
    (loadingChange)="onShowLoadingChange($event)"
    (aspectRatioChange)="onAspectRatioChange($event)"
    (inpaintingChange)="onInpaintingChange($event)"
    (queuePositionChange)="onQueuePositionChange($event)"
    [inpaintMask]="inpaintMask"
    (ratingButtonsEligibilityChange)="ratingButtonsEligibilityChange()"
    (websiteDarkMode)="onWebsiteDarkMode($event)"
  ></app-options>
</div>
<app-faq></app-faq>