<p-toast></p-toast>
<!-- Prompt input box and advanced options button -->
<div class="input-button-container">
  <div id="prompt-input-box" class="input-group d-flex align-items-stretch">
    <textarea pInputTextarea [autoResize]="true" [(ngModel)]="generationRequest.prompt"
      (ngModelChange)="updateSharedPrompt()" class="form-control resizable-textarea" placeholder="Enter Prompt"
      aria-label="Enter Prompt" aria-describedby="generate-button" id="prompt-input" rows="1" cols="3"></textarea>
    <button
      [class]="referenceImage ? 'btn btn-success d-flex align-items-center' : 'btn btn-primary d-flex align-items-center'"
      type="button" id="generate-button" (click)="this.submitJob()" [disabled]="!enableGenerationButton">
      {{ referenceImage ? 'Generate w/Ref' : 'Generate!' }}
    </button>
  </div>

  <!-- buttons that show with reference images expanded -->
  <div *ngIf="referenceImage" class="inpaint-button">
    <!-- inpaint switch -->
    <p-button label="Inpainting" (click)="openImageModal()"></p-button>
    <span class="ms-1 text-primary"
      pTooltip="Allows you to draw on the image you uploaded using your mouse to specify what should be changed. The inpainted areas will be the only ones changed while the rest of the image is unaffected"
      tooltipPosition="top" style="
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px 4px;
    border-radius: 50%;
    cursor: pointer;
    ">
      ?
    </span>

    <!-- Upscale button -->
    <span *ngIf="supporter">
      <p-button label="Upscale" (click)="this.submitJob(true)"></p-button>
      <span class="ms-1 text-primary"
        pTooltip="Upscale the image by 1.5x. This will make the image look better and generate finer details. Due to longer generation times, this feature is currently only available to supporters."
        tooltipPosition="top" style="
        background-color: rgba(255, 255, 255, 0.8);
        padding: 2px 4px;
        border-radius: 50%;
        cursor: pointer;
        ">
        ?
      </span>
    </span>
  </div>

  <!-- Denoise strength -->
  <div *ngIf="referenceImage" id="denoise-strength">
    <label for="custom-denoise" class="form-label">Strength: <span id="denoise-value">{{ generationRequest.strength
        }}</span>
      <span class="ms-1 text-primary"
        pTooltip="Adjust how much the source image should be followed. Lower values will follow the reference image more closely, higher values will change the image more. A value of 1 will ignore the reference image entirely."
        tooltipPosition="top" style="
          background-color: rgba(255, 255, 255, 0.8);
          padding: 2px 4px;
          border-radius: 50%;
          cursor: pointer;
          ">
        ?
      </span>
    </label>
    <input type="range" class="form-range" min="0.2" max="1" value="0.8" step="0.05" id="custom-denoise"
      [(ngModel)]="generationRequest.strength" />
  </div>

  <!-- Advanced options -->
  <div id="advanced-options">
    <button class="btn btn-primary dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample" role="button"
      aria-expanded="false" aria-controls="collapseExample">
      Options
    </button>

    <!-- Remove reference image button -->
    <span *ngIf="referenceImage" id="remove-reference-image-button" style="margin-left: 20px;">
      <button class="btn btn-danger" type="button" (click)="removeReferenceImage()">
        Remove Reference Image
      </button>
    </span>

    <!-- Re-generate with reference button -->
    <button class="btn btn-success" type="button" onclick="redoWithSameReference()" id="redo-with-reference-button"
      style="display: none">
      Regenerate W/Prev Reference
    </button>

    <div class="collapse w-100" id="collapseExample">
      <label for="floatingSelect">Image aspect-ratio</label>
      <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
        [(ngModel)]="aspectRatio['aspectRatio']" (change)="changeAspectRatioSelector($event)">
        <option value="square">Square</option>
        <option value="landscape">Landscape</option>
        <option value="portrait">Portrait</option>
      </select>

      <!-- Negative Prompt -->
      <div class="mb-3">
        <label for="negative-prompt-input" class="form-label">Negative Prompt
          <span class="ms-1 text-primary"
            pTooltip="Add terms you want the AI to avoid when generating the image. Separate each term with a comma. By default a negative prompt is provided so this does not need to be modifed unless the below negative does not work well for you."
            tooltipPosition="top" style="
              background-color: rgba(255, 255, 255, 0.8);
              padding: 2px 4px;
              border-radius: 50%;
              cursor: pointer;
            ">
            ?
          </span>
        </label>
        <textarea class="form-control" id="negative-prompt-input" rows="3"
          [(ngModel)]="generationRequest.negative_prompt"></textarea>
      </div>

      <div class="mb-3" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
        <!-- Seed -->
        <div style="width: 49%; flex-basis: calc(49%);">
          <label for="seedInput" class="form-label">
            Seed
            <span class="ms-1 text-primary"
              pTooltip="Each generated image has a specific seed, if that seed is entered with the same prompt, you can regenerate the same or very similar images. By default a random seed is used with each generation."
              tooltipPosition="top"
              style="background-color: rgba(255, 255, 255, 0.8); padding: 2px 4px; border-radius: 50%; cursor: pointer;">
              ?
            </span>
          </label>
          <input type="number" class="form-control" id="seedInput1" placeholder="-1"
            [(ngModel)]="generationRequest.seed" />
        </div>

        <!-- Selected Image Seed -->
        <div style="width: 49%; flex-basis: calc(49%);">
          <label for="seedInput2" class="form-label">
            Current Seed
            <span class="ms-1 text-primary"
              pTooltip="The current seed of the currently generated images. This can be used to regenerate the same/or very similar image."
              tooltipPosition="top"
              style="background-color: rgba(255, 255, 255, 0.8); padding: 2px 4px; border-radius: 50%; cursor: pointer;">
              ?
            </span>
          </label>
          <input type="number" class="form-control" id="seedInput2" placeholder="Generate to see seed."
            [(ngModel)]="currentSeed" disabled="true" [value]="currentSeed" />
        </div>
      </div>

      <!-- CFG -->
      <label for="customRange1" class="form-label">CFG: <span id="cfg-value">{{ generationRequest.guidance_scale
          }}</span>
        <span class="ms-1 text-primary"
          pTooltip="CFG refers to how closely a image tries follow to a prompt, too high values may fry images, while too low of a value will result in an unrelated photo being generated but generally more creative/pretty. By default 7 is used but this can be experimented with."
          tooltipPosition="top" style="
            background-color: rgba(255, 255, 255, 0.8);
            padding: 2px 4px;
            border-radius: 50%;
            cursor: pointer;
          ">
          ?
        </span>
      </label>
      <input type="range" class="form-range" min="2" max="15" value="7" id="customRange1"
        [(ngModel)]="generationRequest.guidance_scale" />

      <!-- FastPass Code -->
      <div class="mb-3">
        <label for="fastPassCode" class="form-label">FastPass Code
          <span class="ms-1 text-primary"
            pTooltip="FastPass codes are given weekly to contest winners on the discord! They allow you skip the queue. If you have a code, enter it here! Join the discord to learn more."
            tooltipPosition="top" style="
              background-color: rgba(255, 255, 255, 0.8);
              padding: 2px 4px;
              border-radius: 50%;
              cursor: pointer;
            ">
            ?
          </span>
        </label>
        <input type="text" class="form-control" id="fastPassCode" placeholder="Join the Discord to win!"
          [(ngModel)]="generationRequest.fast_pass_code" />
      </div>

      <!-- Notifications -->
      <div class="d-flex justify-content-start mb-3">
        <div class="form-check me-3">
          <input class="form-check-input" type="checkbox" [(ngModel)]="enableNotifications"
            (change)="enableNotification()" id="notification">
          <label class="form-check-label" for="notification">Send Notification When Image Completes</label>
        </div>
      </div>

      <!-- Reset session storage and view -->
      <button class="btn btn-danger" type="button" (click)="resetSessionStorage()" id="reset-session-storage-button">
        Reset Saved Options
      </button>
    </div>
  </div>

  <!-- <p-overlayPanel #op>
    <ng-template pTemplate="content">
        <h4>Custom Content</h4>
    </ng-template>
</p-overlayPanel> -->
  <!-- <p-button (click)="op.toggle($event)" icon="pi pi-image" label="Show"></p-button> -->
</div>