/* Includes prompt input box, generate button and advanced options */
.input-button-container {
  width: 5in;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 10px; /* Space between items */
}

/* Includes prompt input box and generate button */
#prompt-input-box {
  padding-left: 10px;
  padding-bottom: 10px;
  flex-grow: 1; /* Allow the input box to grow and take available space */
}

/* The input box itself where text is */
#prompt-input {
  height: 5vh;
}

#advanced-options {
  padding-left: 10px;
  padding-top: 10px;
  z-index: 1;
  width: 5in;
}

.card {
  background-color: #3880ec;
  border: 0;
}

.inpaint-button {
  margin-left: 10px;
}

.history-panel {
  margin-top: 20px;
  margin-left: 10px;
}

.search-bar {
  width: 100%;
  margin-bottom: 15px; /* Add space below the search bar */
}

.search-bar input {
  width: 100%;
  box-sizing: border-box;
}

.history-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Enforce 2 columns */
  grid-gap: 10px;
  margin-top: 10px;
  max-width: 400px; /* Set a maximum width for the grid container */
  margin-left: auto; /* Center the grid horizontally */
  margin-right: auto; /* Center the grid horizontally */
}

.history-item {
  cursor: pointer;
}

.history-item img {
  width: 100%;
  height: auto;
  border-radius: 6px; /* Slightly larger border radius for a smoother look */
  aspect-ratio: 1 / 1; /* This will make the image container square */
  object-fit: cover; /* Ensure the image covers its container */
}

.history-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.sort-dropdown {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
}

.summary-text {
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-align: center;
}

.no-images-message {
  text-align: center;
  padding: 20px;
  color: #888;
}

.card-body {
  min-height: 75vh; /* Start with 50% of the viewport height */
  max-height: fit-content ; 
  overflow-y: auto; /* Allow scrolling if content exceeds max-height */
  transition: height 0.5s ease-in-out;
  max-width: 600px;
  overflow: hidden
}

.pagination {
  display: flex;
  justify-content: space-between; /* Space buttons evenly */
  margin-top: 20px;
}

.pagination .btn {
  width: 48%; /* Make pagination buttons larger */
  padding: 10px 0; /* Increase padding for easier tapping */
}

/* loras */
.loras-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  overflow-y: auto; /* Enable scrolling if the content exceeds the height */
}

.lora-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: visible;
  min-height: 190px; /* Set a minimum height to prevent layout shifts */
  max-width: 600px; /* Enforce a consistent card width */
}

.lora-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center top; /* Align the image towards the top */
}

.lora-info {
  padding: 0.5rem;
  padding-bottom: 0;
}

.lora-name {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lora-version {
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.selected-lora-item-container {
  max-height: 150px; /* Adjust this value as needed */
  overflow-y: auto;
  padding: 10px;
}

/* Lora icons where strength is shown */
.selected-lora-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* flex-wrap: nowrap; Prevent wrapping */
  max-width: 30%; /* Ensure it doesn't exceed the container width */
}

.selected-lora-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.selected-lora-details {
  flex-grow: 1;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Prevent wrapping */
  max-width: 100%; /* Adjust based on image and button width */
}

/* Menu dropdowns */
#collapseExample{
  margin-left: 20px;
}

#historyCollapse{
  margin-left: 20px;
}

#lorasCollapse{
  margin-left: 20px;
}

#lorasDropdown{
  max-height: 75vh;
}

@media (max-width: 768px) {
  .button-group {
    flex-direction: row;
    width: 100%;
  }

  .button-group .btn {
    width: 95%;
    margin-bottom: 10px;
    padding: 12px 0; 
    font-size: 16px; 
    margin-left: 0;
  }

  .button-group .btn:last-child {
    margin-right: 8px;
  }
}

@media (max-width: 480px) {
  .input-button-container {
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    flex-grow: 1;
    padding-left: 0;
    padding-bottom: 5%;
    height: auto;
  }

  #prompt-input-box {
    padding-bottom: 5%;
    padding-left: 0;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .resizable-textarea::-webkit-resizer {
    background-color: rgba(0, 0, 0, 0.5);
    width: 20px;
    border-radius: 10px;
  }

  #prompt-input {
    height: 6vh;
  }

  #denoise-strength {
    padding: 2vw;
    width: 100vw;
  }

  #advanced-options {
    width: 97vw;
    padding-left: 20px; /* Increased padding for consistent spacing */
  }

  .p-inputtext {
    padding-right: 0px;
  }

  .history-grid {
    grid-template-columns: repeat(2, 1fr); /* Ensure a 2x2 grid on mobile */
  }

  .card-body {
    min-height: 70vh; /* Start with 50% of the viewport height */
    max-height: 80vh; /* Don't exceed 80% of the viewport height */
    overflow-y: auto; /* Allow scrolling if content exceeds max-height */
    transition: height 0.5s ease-in-out;
  }

  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .pagination .btn {
    width: 48%; /* Ensure pagination buttons are easy to tap */
    padding: 10px 0;
  }

  /* Menu dropdowns */
  #collapseExample{
    margin-left: 0;
  }
  
  #historyCollapse{
    margin-left: 0;
  }
  
  #lorasCollapse{
    margin-left: 0;
  }

  #lorasDropdown{
    min-height: 60vh;
    max-height: 70vh;
  }
}
